mat-form-field{
  width: 70vw;
  padding: 3em;
  height: 5vh;
}

textarea {
  resize: none;
  width: 90%;
  overflow-y: hidden;
}

button {
  background-color: #a24760;
  color: white;
}

.mat-input-element{
  margin-bottom: 3vh;
}


#btn-send{
  position: absolute;
  right: 20px;
}

