<div style="text-align:center">
<img width="30%" alt="Angular Logo" src="assets/images/Logo.svg">
</div>
<div class="example-container" align="center" style="child-align: auto">
  <form (ngSubmit)="onSubmit()">
    <div class="mat-input-element">
      <mat-form-field >
        <input matInput name="username" [(ngModel)]="user.name" #input minlength="1" maxlength="32" placeholder="Username">
        <mat-hint hidden align="center" hintLabel="Max 10 characters">{{input.value?.length || 0}}/32</mat-hint>
      </mat-form-field>
    </div>
    <div class="mat-input-element">
      <mat-form-field >
        <input matInput name="password" [(ngModel)]="user.pass" #password minlength="8" placeholder="Password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint  align="center" hidden hintLabel="Max 10 characters">{{password.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <br>
    </div>
      <div style=" display: inline; margin-top: 2em">
      <button mat-button style="background-color: #8b1b36; color: white; width: 15vw" name="SubmitIn" type="submit" (click)="submit = 'in'">Log in</button>
      <button mat-button style="background-color: #fab90a; color: white; margin-left: 1em" name="SubmitUp" type="submit" (click)="submit = 'up'">Sign Up</button>
    </div>
  </form>
</div>
