.example-container {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.mat-input-element {
}

.example-container > * {
  width: 100%;
}

mat-form-field {
  width: 20vw;
}

#login {
  background-color: #8b1b36;
  color: white;
  width: 15vw;
}

#signup {
  background-color: #fab90a;
  color: white;
  margin-left: 1em;
}
