<div style="display: flex;justify-content: flex-end">
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
  <div class="example-sidenav-content">
Place holder for messages
  </div>

</mat-drawer-container>
  <div class="container " align="center" style="display: unset !important;">
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  </div>
<button type="button" mat-button (click)="drawer.toggle()">
  Toggle sidenav
</button>
</div>

