<div class="main-div">
  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
      <button mat-raised-button id="btn-newChannel" (click)="openDialog()">Add A Channel</button>
      <button class="channel" *ngFor="let channel of channels" [class.active]="channel == active" (click)="changeChannel(channel)" mat-raised-button>
        #{{channel.name}}
      </button>
    </mat-drawer>
    <div class="header" *ngIf="active">
      <button mat-raised-button id="toggle-nav" (click)="drawer.toggle(); toggle = !toggle" >
        <mat-icon>
          {{!toggle ? 'arrow_forward' : 'arrow_back'}}
        </mat-icon>
      </button>

      <div class="channel-header">
        <div id="channel-title">
          <img width="5%" alt="Angular Logo" src="assets/images/Logo.svg">
          <h1 id="channel-name">#{{active.name}}</h1>
        </div>
        <small id="channel-desc">- {{active.description}}</small>
      </div>
      <button mat-button id="logout" (click)="userService.logout()">Log Out</button>
    </div>
      <app-channel [channel]="active"></app-channel>
  </mat-drawer-container>
</div>
