<div style="display: flex; justify-content: flex-end; position: relative">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" style="background-color: #793548" opened>
      <button mat-raised-button id="add-channel" (click)="openDialog()">Add A Channel</button>
      <button *ngFor="let channel of channels" (click)="changeChannel(channel)" mat-raised-button [class.active-channel]="channel == active">
        #{{channel.name}}
      </button>
    </mat-drawer>
    <div class="header" style="position: relative; top: 0; margin-top: 0; text-align: center">
      <button mat-icon-button (click)="drawer.toggle(); toggle = !toggle" style="float: left; background-color: #f3662a; color: white; border-radius: 0;">
        <mat-icon>
          {{!toggle ? 'menu' : 'list'}}
        </mat-icon>
      </button>
    </div>
    <app-channel [channel]="active"></app-channel>
  </mat-drawer-container>
</div>

